//create mixins for media queries
//create mixins for flexbox settings

@mixin buttons {
	 text-transform: uppercase;
	 width: 100%;
	 padding: 10px;
	 font-family: $body-content-font-family;
	 color: white; 
     text-align: center;
     margin-top: 20px;
     border:none; 
     border-radius: 5px;  

}

@mixin btn-default {
	border: none;
	width: 100%;
	margin-top: 20px;
    color: #fff;
    background-color: #51ddfc;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    
    text-transform: uppercase;
    font-weight: 700;
}

@mixin grids {
	 
	justify-content: center; 
	display:flex;
	flex-direction: column; 
	
}



