//must have at least fonts, breakpoints, and colors


// Colors //

$main-headline-color: #66E1C1; 

$grid__col--3-color: #DEB2EE;


$grid__col--6-color: #44ABCA;


//Buttons // 
$default-button: #5BDDFC;
$info-button: #927BC1;
$success-button: #63CC82;
$warning-button: #F07554; 
$error-button: #E4757A;


//Fonts//

$header-font-family: 'proxima-nova', sans-serif;
$body-content-font-family: 'Helvetica Neue', Arial, sans-serif;



