//must have at least fonts, breakpoints, and colors


// Colors //

$main-headline-color: #66E1C1; 

$french_lilac: #deb2ee;
$vista_blue: #88d9a0;
$sea_pink: #ec9fa3;
$vivid_tangerine: #fd9f85;
$shakespeare: #3fabca;
$anakiwa: #7ee6fd;
$riptide: #80e8d1;


//Buttons // 
$default-button: #5BDDFC;
$info-button: #927BC1;
$success-button: #63CC82;
$warning-button: #F07554; 
$error-button: #E4757A;


//Fonts//

$header-font-family: 'proxima-nova', sans-serif;
$body-content-font-family: 'Helvetica Neue', Arial, sans-serif;

// GRID COLORS //

$color-col-3: $french_lilac;
$color-col-4: $anakiwa;
$color-col-5: $vista_blue;
$color-col-6: $shakespeare;
$color-col-7: $sea_pink;
$color-col-8: $vivid_tangerine;
$color-col-12: $riptide;

// BREAKPOINTS

$break-xs: 420px;
$break-s: 768px;
$break-m: 769px;
$break-l: 1024px;

// Grid





