

    .btn-- { 
	    	&info {
	    		@include buttons;
	    			background-color: $info-button;
	    	}
	    	&success {
	    		@include buttons; 
	    			background-color: $success-button; 
	    	}
	    	&default {
	    		@include btn-default;
	    			background-color: $default-button;
	    	}
	    	&error {
	    		@include buttons;
	    			background-color: $error-button; 
	    	}
	    	&warning {
	    		@include buttons; 
	    			background-color: $warning-button; 
	    	} 
	    		
    }

 
  