
.container {
	
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2.5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    line-height: 1.2;
    @media (min-width: $break-m) {
    	padding: 1rem 5.6rem;
  }
}

//HANDLES GRID ROWS WITH NESTED COLUMNS

 .grid__row {
 			display:flex;
    		flex-direction: column;
    		@media (min-width: $break-m) {
    			display:flex;
    			flex-direction:row; 
    			  			
  }

	 	.grid__col--7 {

	 		text-align:center;
	 		justify-content: center;
    		margin-bottom: 1rem;
    		&.theme__colors {
    			@include buttons; 
	 			background-color: $color-col-7;
	 			
	 			&.centered {
	 				margin: 0 auto; 
	 				margin-top: 20px; 
	 				flex:0 0 calc(100% / 12 * 7); 

	 			}
	 		}
	 	}
	 	.grid__col--5 {
	 		text-align:center;
	 		justify-content: center;
    		margin-bottom: 1rem;
	 	}
	 	.grid__col--8 {
	 		p {
	 			@media (min-width: $break-m) {
    			width: 85%; 
    			  			
  				}
	 		}
	 		justify-content: center;
    		margin-bottom: 1rem;
    		&.theme__colors {
    			@include buttons; 
	 			background-color: $color-col-8;

	 			
	 		}
	 	}
	 	.grid__col--12 {
	 		text-align:center;
	 		justify-content: center;
    		margin-bottom: 1rem;
    		width: 100%;

	 	}

 }

 //HANDLES MY GRID SETTINGS

 .grid__col-- {

 	&3 {
 		@include grids;
 		@include buttons; 
 		

 		&.theme__colors {
	 			background-color: $color-col-3;
	 			text-align:center;
	 		}
	 	
 	}
 	&4 {
 		justify-content: center;
    		margin-bottom: 1rem;
    		&.theme__colors {
    			@include buttons; 
	 			background-color: $color-col-4;
 		}
 	}
 	&5 {
 		@includes grids;
 		@include buttons; 
 		&.theme__colors {
	 			background-color: $color-col-5;
	 			flex:0 0 calc(100% / 12 * 5); 
	 		}
 	}
 	&6 {
 		@include grids; 
 		@include buttons; 
 		&.theme__colors {
	 			background-color: $color-col-6;

	 		}
 		
 	}
 	&9 {
 		@include grids; 
 		@include buttons; 
 		@media (min-width: $break-m) {
    			
    			display:flex;
    			flex-direction: row; 
    			justify-content: center; 
  }

 	}
 	&12 {
 		@media (min-width: $break-m) {
    			display:flex;

 	 }
 		
 		&.theme__colors {
 				@include buttons; 
	 			background-color: $color-col-12;

	 		}

 	}

 }




 .img-- {
	&avatar {
		margin:  auto;
		padding: 1rem 1rem; 
	}
}
