
.container {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    line-height: 1.2;
}

//HANDLES GRID ROWS WITH NESTED COLUMNS

 .grid__row {
 			display:flex;
    		flex-direction: column;
	 	.grid__col--7 {

	 		text-align:center;
	 		justify-content: center;
    		margin-bottom: 1rem;
    		&.theme__colors {
    			@include buttons; 
	 			background-color: $color-col-7;
	 		}
	 	}
	 	.grid__col--5 {
	 		text-align:center;
	 		justify-content: center;
    		margin-bottom: 1rem;
	 	}
	 	.grid__col--8 {
	 		
	 		justify-content: center;
    		margin-bottom: 1rem;
    		&.theme__colors {
    			@include buttons; 
	 			background-color: $color-col-8;
	 		}
	 	}
	 	.grid__col--12 {
	 		text-align:center;
	 		justify-content: center;
    		margin-bottom: 1rem;
	 	}

 }

 //HANDLES MY GRID SETTINGS

 .grid__col-- {

 	&3 {
 		@include grids;
 		@include buttons; 
 		&.theme__colors {
	 			background-color: $color-col-3;
	 		}
 	}
 	&4 {
 		@include grids;
 		@include buttons; 
	 		&.theme__colors {
	 			background-color: $color-col-4;
	 		}

 		
 	}
 	&5 {
 		@includes grids;
 		@include buttons; 
 		&.theme__colors {
	 			background-color: $color-col-5;
	 		}
 	}
 	&6 {
 		@include grids; 
 		@include buttons; 
 		&.theme__colors {
	 			background-color: $color-col-6;
	 		}
 		
 	}
 	&9 {
 		@include grids; 
 		@include buttons; 

 	}
 	&12 {
 		@includes grids; 
 		
 		&.theme__colors {
 				@include buttons; 
	 			background-color: $color-col-12;
	 		}

 	}

 }




 .img-- {
	&avatar {
		margin:  auto;
		padding: 1rem 1rem; 
	}
}
