.nav__item {
	justify-content: center; 
	font-weight: 400; 
	font-family: $body-content-font-family;
}

.link {
	color: $default-button; 
	text-decoration: none; 
	@media (min-width: $break-s) {
		text-align: left; 
	}
}

.nav {
    @media (min-width: $break-s) {
        display: inline-flex;
        &__item {
            margin-left: 20px;
            margin-top: 20px;

        }
    }
}