.headline--primary {
	color: $main-headline-color; 
	font-family: $header-font-family;
}

.headline-- {
	&primary {
		font-family: $header-font-family;
		color: $main-headline-color; 
		
    	letter-spacing: -1px;
	}
	&secondary {
		font-family: $body-content-font-family;
		font-weight: 200; 
		color: grey;
	}
}

.container {
	margin: 20px 50px; 
}