//can only apply styles to 
//universal selector
// ul elements
//p elements
//a elements

* {
   box-sizing: border-box; 
   
}

ul {
    .nav__item {
    	list-style-type: none;
    	font-weight: 300;

    	a {

			color: grey; 
			text-decoration:none; 

}
    }
    
}









