//can only apply styles to 
//universal selector
// ul elements
//p elements
//a elements

* {
   box-sizing: border-box; 
   
}

ul {
    .nav__item {
    	list-style-type: none;
    	font-weight: 400;
    	margin-bottom: 20px;
    	a {

			color: #808080; 
			text-decoration:none; 

}
    }
    
}











